Repository nuniesmith/fks, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, framework, security, tests, database, trading, rag, ml, web, docker, config, scripts, monitoring, celery, dependencies, breaking

Update copilot instructions to reflect architecture changes and service details for the FKS Trading Platform
  .github/copilot-instructions.md
Labels: documentation, config

chore: update configuration files and dependencies
  .coveragerc
  .dockerignore
  .env.example
  .gitignore
  Makefile
  docker/Dockerfile
  docker/Dockerfile.gpu
  nginx/conf.d/auth.conf.example
  repo/api/.dockerignore
  repo/api/.gitignore
  repo/data/.dockerignore
  repo/data/.gitignore
  repo/execution/.dockerignore
  repo/execution/.gitignore
  repo/ninja/.dockerignore
  repo/ninja/.gitignore
  repo/ninja/FKS.sln
  repo/ninja/Makefile
  repo/ninja/fks_trading.code-workspace
  repo/ninja/improvements/ninja.backup/FKS.csproj
  repo/ninja/src/FKS.csproj
  requirements.dev.txt
  requirements.gpu.txt
  requirements.txt
  ruff.toml
  sql/init.sql
  sql/migrations/000_create_rag_tables.sql
  sql/migrations/001_add_pgvector.sql
  sql/migrations/001_add_positions_status.sql
Labels: security, database, rag, docker, config, dependencies

feat(microservices): add comprehensive READMEs and Dockerfiles for all services
  repo/ai/Dockerfile.gpu
  repo/ai/README.md
  repo/app/Dockerfile
  repo/app/README.md
  repo/execution/README.md
  repo/web/Dockerfile
Labels: documentation

feat(ci): add comprehensive CI/CD workflows for all 7 microservices
  repo/ai/.github/workflows/tests.yml
  repo/api/.github/workflows/tests.yml
  repo/app/.github/workflows/tests.yml
  repo/data/.github/workflows/tests.yml
  repo/execution/.github/workflows/tests.yml
  repo/ninja/.github/workflows/tests.yml
  repo/web/.github/workflows/tests.yml
Labels: none

fix(docker): resolve duplicate container name and disable SSL for local dev
  docker-compose.yml
Labels: security, docker, config

feat: add placeholder implementations for FKS AI and Business Logic services with health check endpoints
  repo/ai/requirements.txt
  repo/ai/src/main.py
  repo/app/Dockerfile
  repo/app/requirements.txt
  repo/app/src/main.py
  repo/ninja/Dockerfile
Labels: none

docs: Add migration completion summary
  docs/MIGRATION_COMPLETE.md
Labels: documentation

Add unit tests for ASMBTR trading strategy and prediction table
  .github/copilot-instructions.md
  docs/ASMBTR_COMPATIBILITY.md
  docs/ASMBTR_OPTIMIZATION.md
  docs/PHASE_2_COMPLETE.md
  docs/PHASE_3_TESTS_COMPLETE.md
  docs/PHASE_3_TEST_RESULTS.md
  src/services/app/src/asmbtr_optimization_results.json
  src/services/app/src/strategies/__init__.py
  src/services/app/src/strategies/asmbtr/__init__.py
  src/services/app/src/strategies/asmbtr/backtest.py
  src/services/app/src/strategies/asmbtr/btr.py
  src/services/app/src/strategies/asmbtr/encoder.py
  src/services/app/src/strategies/asmbtr/optimize.py
  src/services/app/src/strategies/asmbtr/predictor.py
  src/services/app/src/strategies/asmbtr/strategy.py
  src/services/app/tests/unit/strategies/asmbtr/__init__.py
  src/services/app/tests/unit/strategies/asmbtr/conftest.py
  src/services/app/tests/unit/strategies/asmbtr/test_btr.py
  src/services/app/tests/unit/strategies/asmbtr/test_encoder.py
  src/services/app/tests/unit/strategies/asmbtr/test_predictor.py
  src/services/app/tests/unit/strategies/asmbtr/test_strategy.py
  src/services/data/docs/ASMBTR_COMPATIBILITY.md
  src/services/data/src/collectors/__init__.py
  src/services/data/src/collectors/forex_collector.py
  src/services/data/src/processors/__init__.py
  src/services/data/src/processors/delta_scanner.py
  src/services/data/src/test_phase1.py
  src/services/data/src/validate_timescaledb.py
  tests/unit/strategies/asmbtr/__init__.py
  tests/unit/strategies/asmbtr/conftest.py
  tests/unit/strategies/asmbtr/test_btr.py
  tests/unit/strategies/asmbtr/test_encoder.py
  tests/unit/strategies/asmbtr/test_predictor.py
  tests/unit/strategies/asmbtr/test_strategy.py
Labels: documentation, tests, config

feat(data): Complete Phase 5.1-5.3 - Data Foundation for AI Enhancement
  .github/copilot-instructions.md
  sql/fundamentals_schema.sql
  sql/migrations/001_add_fundamentals_schema.sql
  sql/migrations/002_test_fundamentals.sql
  sql/migrations/003_fundamentals_core_working.sql
  src/services/app/requirements.txt
  src/services/app/src/features/__init__.py
  src/services/app/src/features/feature_processor.py
  src/services/app/src/main.py
  src/services/app/src/metrics/__init__.py
  src/services/app/src/metrics/asmbtr_metrics.py
  src/services/app/src/tasks/__init__.py
  src/services/app/src/tasks/asmbtr_prediction.py
  src/services/app/src/tests/test_feature_processor.py
  src/services/data/src/adapters/__init__.py
  src/services/data/src/adapters/eodhd.py
  src/services/data/src/collectors/__init__.py
  src/services/data/src/collectors/fundamentals_collector.py
  src/services/data/src/tests/test_adapter_eodhd.py
  src/services/web/src/django/celery.py
  tests/unit/tasks/test_asmbtr_prediction.py
Labels: documentation, tests, database, config

feat(cache): Complete Phase 5.4 - Redis Caching Layer
  src/services/app/src/cache/__init__.py
  src/services/app/src/cache/feature_cache.py
  src/services/app/src/features/feature_processor.py
  src/services/app/src/tests/test_cache.py
  src/services/data/src/adapters/eodhd.py
Labels: none

docs: Update Phase 5.4 completion status
  .github/copilot-instructions.md
  docs/PHASE_STATUS.md
Labels: documentation, config

test: Fix Phase 5.4 test imports and add HAS_CACHE flag
  src/services/app/src/cache/__init__.py
  src/services/app/src/cache/feature_cache.py
  src/services/app/src/features/feature_processor.py
  src/services/app/src/tests/test_cache.py
Labels: none

feat: Phase 5.5 - Complete data quality validation framework
  src/services/data/src/tests/test_validators.py
  src/services/data/src/validators/__init__.py
  src/services/data/src/validators/completeness_validator.py
  src/services/data/src/validators/freshness_monitor.py
  src/services/data/src/validators/outlier_detector.py
  src/services/data/src/validators/quality_scorer.py
Labels: none

docs: Add Phase 5.5 completion summary
  docs/PHASE_5_5_COMPLETE.md
Labels: documentation

feat: Phase 5.6 - Add Prometheus metrics for data quality
  src/services/data/src/metrics/__init__.py
  src/services/data/src/metrics/quality_metrics.py
  src/services/data/src/tests/test_quality_metrics.py
Labels: none

feat: Phase 5.6 Task 2 - Add QualityCollector wrapper (13/13 tests passing)
  src/services/data/src/metrics/__init__.py
  src/services/data/src/metrics/quality_collector.py
  src/services/data/src/tests/test_quality_collector.py
Labels: none

Phase 5.6 Task 3: TimescaleDB storage infrastructure
  data/market_data/latest.json
  data/market_data/latest_ticks_only.json
  docs/PHASE_4_COMPLETE.md
  docs/PHASE_4_DEPLOYMENT_CHECKLIST.md
  docs/PHASE_4_DEPLOYMENT_RESULTS.md
  monitoring/grafana/dashboards/asmbtr.json
  monitoring/prometheus/prometheus.yml
  scripts/fetch_market_data.py
  scripts/fetch_market_data_docker.sh
  scripts/run_asmbtr_optimization.py
  sql/migrations/004_quality_metrics.sql
  src/services/app/data/asmbtr_real_data_optimization.json
  src/services/app/data/market_data/latest.json
  src/services/app/data/market_data/latest_ticks_only.json
  src/services/app/src/database/__init__.py
  src/services/app/src/database/connection.py
  src/services/app/src/metrics/__init__.py
  src/services/app/src/metrics/quality_collector.py
  src/services/app/src/metrics/quality_metrics.py
  src/services/app/src/validators/__init__.py
  src/services/app/src/validators/completeness_validator.py
  src/services/app/src/validators/freshness_monitor.py
  src/services/app/src/validators/outlier_detector.py
  src/services/app/src/validators/quality_scorer.py
  src/services/app/tests/unit/data/test_database_connection.py
  src/services/app/tests/unit/data/test_quality_collector.py
  src/services/app/tests/unit/data/test_quality_metrics.py
  src/services/app/tests/unit/data/test_validators.py
  src/services/app/tests/unit/test_cache.py
  src/services/data/src/database/__init__.py
  src/services/data/src/database/connection.py
  src/services/data/src/tests/test_database_connection.py
  tests/unit/data/test_database_connection.py
Labels: documentation, tests, database, scripts, monitoring

Phase 5.6 Task 3 complete: E2E pipeline integration validated
  scripts/test_quality_pipeline.py
  src/services/data/src/metrics/quality_collector.py
Labels: scripts

Phase 5.6 Task 4 complete: Grafana quality monitoring dashboard
  monitoring/README.md
  monitoring/grafana/dashboards/quality_monitoring.json
Labels: documentation, monitoring

Phase 5.6 Task 5 complete: Alert configuration for quality monitoring
  monitoring/prometheus/alertmanager.yml
  monitoring/prometheus/prometheus.yml
  monitoring/prometheus/rules/quality_alerts.yml
Labels: monitoring

Phase 5.6 Task 6 complete: E2E testing and comprehensive documentation
  docs/PHASE_5_6_COMPLETE.md
  docs/PHASE_5_6_STATUS.md
  src/services/app/scripts/test_quality_pipeline.py
  src/services/app/src/metrics/quality_collector.py
Labels: documentation

docs: Update PHASE_STATUS.md with Phase 5.5 and 5.6 completion
  docs/PHASE_STATUS.md
Labels: documentation

docs: Update copilot instructions to v5.1 - streamlined with Phase 5.6 completion
  .github/copilot-instructions.md
Labels: documentation, config

docs: Create Phase 6 kickoff plan - Multi-Agent Foundation
  docs/PHASE_6_KICKOFF.md
Labels: documentation

feat: Phase 6.1 foundation - LangGraph infrastructure
  docker/Dockerfile.ai
  src/services/ai/requirements-langgraph.txt
  src/services/ai/requirements.txt
  src/services/ai/src/agents/__init__.py
  src/services/ai/src/agents/base.py
  src/services/ai/src/agents/state.py
  src/services/ai/src/memory/__init__.py
  src/services/ai/src/memory/chroma_client.py
Labels: docker

docs: Add Phase 6.1 progress report
  docs/PHASE_6_PROGRESS.md
Labels: documentation

docs: Update PHASE_STATUS to reflect Phase 6 started
  docs/PHASE_STATUS.md
Labels: documentation

feat: Phase 6.2 - Multi-agent debate system complete
  src/services/ai/src/agents/analysts/__init__.py
  src/services/ai/src/agents/analysts/macro.py
  src/services/ai/src/agents/analysts/risk.py
  src/services/ai/src/agents/analysts/sentiment.py
  src/services/ai/src/agents/analysts/technical.py
  src/services/ai/src/agents/debaters/__init__.py
  src/services/ai/src/agents/debaters/bear.py
  src/services/ai/src/agents/debaters/bull.py
  src/services/ai/src/agents/debaters/manager.py
Labels: none

feat: Phase 6.3 - StateGraph orchestration complete
  src/services/ai/src/graph/__init__.py
  src/services/ai/src/graph/nodes.py
  src/services/ai/src/graph/trading_graph.py
  src/services/ai/src/processors/__init__.py
  src/services/ai/src/processors/signal_processor.py
  tailscale.json
Labels: none

test: Phase 6 unit tests - 70 tests for multi-agent system
  src/services/ai/tests/__init__.py
  src/services/ai/tests/conftest.py
  src/services/ai/tests/unit/__init__.py
  src/services/ai/tests/unit/test_analysts.py
  src/services/ai/tests/unit/test_debaters.py
  src/services/ai/tests/unit/test_graph_nodes.py
  src/services/ai/tests/unit/test_memory.py
  src/services/ai/tests/unit/test_signal_processor.py
  src/services/ai/tests/unit/test_state.py
  src/services/ai/tests/unit/test_trading_graph.py
Labels: none

docs: Update Phase 6 progress to 80% complete
  docs/PHASE_6_PROGRESS.md
Labels: documentation

docs: Phase 6 complete summary - 80% milestone
  docs/PHASE_6_COMPLETE_SUMMARY.md
Labels: documentation

feat: Phase 6 API endpoints and integration tests
  src/services/ai/requirements-langgraph.txt
  src/services/ai/src/api/__init__.py
  src/services/ai/src/api/routes.py
  src/services/ai/tests/integration/__init__.py
  src/services/ai/tests/integration/test_api.py
  src/services/ai/tests/integration/test_e2e.py
Labels: none

docs: Phase 6 final summary - 93% complete, production ready
  docker-compose.yml
  docs/PHASE_6_FINAL_SUMMARY.md
Labels: documentation, security, docker, config

feat: Enable fks_ai service with Phase 6 deployment config
  docker-compose.yml
  docker/Dockerfile.ai
  docs/PHASE_6_DEPLOYMENT.md
Labels: documentation, security, docker, config

docs: Update Phase 6 completion status across all docs
  .github/copilot-instructions.md
  PHASE_6_QUICKSTART.md
  README.md
Labels: documentation, config

docs: Add Phase 6 complete summary
  docs/PHASE_6_COMPLETE.md
Labels: documentation

docs: Add Session Continuation Guide for resuming from any computer
  .github/copilot-instructions.md
Labels: documentation, config

feat: Phase 6 complete - Multi-agent AI system deployed with Ollama
  .github/copilot-instructions.md
  docker-compose.gpu.yml
  docker/Dockerfile.ai
  src/services/ai/src/__init__.py
  src/services/ai/src/agents/analysts/macro.py
  src/services/ai/src/agents/analysts/risk.py
  src/services/ai/src/agents/analysts/sentiment.py
  src/services/ai/src/agents/analysts/technical.py
  src/services/ai/src/agents/base.py
  src/services/ai/src/agents/debaters/bear.py
  src/services/ai/src/agents/debaters/bull.py
  src/services/ai/src/agents/debaters/manager.py
  src/services/ai/src/api/routes.py
  src/services/ai/src/graph/nodes.py
  src/services/ai/src/graph/trading_graph.py
Labels: documentation, security, rag, docker, config

feat: Phase 7.1 - Evaluation framework with confusion matrices and statistical testing
  scripts/test_evaluation_framework.py
  src/services/app/requirements.txt
  src/services/app/src/evaluation/__init__.py
  src/services/app/src/evaluation/confusion_matrix.py
  src/services/app/src/evaluation/statistical_tests.py
  tests/unit/evaluation/test_confusion_matrix.py
  tests/unit/evaluation/test_statistical_tests.py
Labels: tests, scripts

.github/labeler.yml:

# GitHub Actions Labeler Configuration for FKS Trading Platform
# Automatically applies labels to PRs based on changed files

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file: 
          - 'docs/**/*'
          - 'README.md'
          - 'QUICKREF.md'
          - '**/*.md'
          - '.github/copilot-instructions.md'

# Core application code
code:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*.py'
      - all-globs-to-all-files: '!src/tests/**'

# Framework layer (critical - requires extra review)
framework:
  - changed-files:
      - any-glob-to-any-file: 'src/framework/**/*.py'

# Security-sensitive files
security:
  - changed-files:
      - any-glob-to-any-file:
          - 'requirements*.txt'
          - '.env*'
          - 'docker-compose*.yml'
          - 'nginx/**/*'
          - 'src/authentication/**/*.py'
          - '**/settings.py'
          - 'secrets/**/*'
          - '.github/workflows/**'

# Test files
tests:
  - changed-files:
      - any-glob-to-any-file: 
          - 'tests/**/*.py'
          - 'pytest.ini'
          - 'src/tests/**/*.py'

# Database and migrations
database:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/core/database/**/*.py'
          - '**/migrations/**/*.py'
          - 'sql/**/*'
          - 'scripts/setup_database.sh'

# Trading logic
trading:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/trading/**/*.py'
          - 'src/core/models.py'

# RAG system
rag:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/rag/**/*.py'
          - 'docker-compose.gpu.yml'
          - 'requirements.gpu.txt'
          - 'scripts/setup_rag.sh'

# ML/AI components
ml:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/ml/**/*.py'
          - 'notebooks/**/*.ipynb'
          - 'scripts/setup_ml.sh'

# Web UI (Django templates, static files)
web:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/web/**/*'
          - 'src/web/templates/**/*'
          - 'src/web/static/**/*'
          - 'src/api/**/*.py'

# Docker and infrastructure
docker:
  - changed-files:
      - any-glob-to-any-file:
          - 'docker/**/*'
          - 'Dockerfile*'
          - 'docker-compose*.yml'
          - '.dockerignore'

# Configuration files
config:
  - changed-files:
      - any-glob-to-any-file:
          - '*.toml'
          - '*.yaml'
          - '*.yml'
          - '*.ini'
          - '*.cfg'
          - '.github/**/*'
          - 'Makefile'

# Scripts and automation
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - 'scripts/**/*'
          - '*.sh'

# Monitoring and observability
monitoring:
  - changed-files:
      - any-glob-to-any-file:
          - 'monitoring/**/*'
          - 'src/framework/monitoring/**/*.py'

# Celery tasks
celery:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/trading/tasks.py'
          - 'src/web/django/celery.py'
          - 'scripts/start_celery.sh'
          - 'scripts/stop_celery.sh'

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'requirements*.txt'
          - 'pyproject.toml'
          - 'setup.py'

# WIP (Work in Progress) - for draft PRs
wip:
  - changed-files:
      - any-glob-to-any-file: '**/*WIP*'
  - draft: true

# Breaking changes (requires major review)
breaking:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/framework/**/*.py'
          - 'src/core/database/models.py'
          - '**/settings.py'
