Repository nuniesmith/fks, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, framework, security, tests, database, trading, rag, ml, web, docker, config, scripts, monitoring, celery, dependencies, breaking

docs: Update Phase 7.1 completion status in copilot instructions and add completion summary
  .github/copilot-instructions.md
  docs/PHASE_7_1_COMPLETE.md
Labels: documentation, config

feat: Integrate Phase 7.1 evaluation framework with ASMBTR strategy
  scripts/demo_asmbtr_evaluation.py
  src/services/app/src/strategies/asmbtr/evaluation.py
  tests/integration/evaluation/test_asmbtr_evaluation_integration.py
Labels: tests, scripts

feat: Complete Phase 7.2 - LLM-Judge Audits (100%)
  docker-compose.gpu.yml
  docs/PHASE_7_2_COMPLETE_SUMMARY.md
  docs/PHASE_7_2_LLM_JUDGE.md
  docs/PHASE_STATUS.md
  src/services/ai/src/agents/base.py
  src/services/ai/src/api/routes.py
  src/services/ai/src/evaluators/__init__.py
  src/services/ai/src/evaluators/llm_judge.py
  src/services/ai/tests/unit/evaluators/test_llm_judge.py
Labels: documentation, security, rag, docker, config

feat: Complete Phase 7.3 - Ground Truth Validation Framework (100%)
  docker/Dockerfile.ai
  docs/PHASE_7_3_GROUND_TRUTH_COMPLETE.md
  docs/PHASE_STATUS.md
  scripts/test_ground_truth_validator.py
  src/services/ai/src/api/routes.py
  src/services/ai/src/evaluators/ground_truth.py
  src/services/ai/tests/integration/test_ground_truth.py
Labels: documentation, docker, scripts

docs: Integrate 13-task expansion plan into copilot instructions
  .github/copilot-instructions.md
  docs/TASK_EXPANSION_PLAN_INTEGRATED.md
Labels: documentation, config

docs: Expand LLM-Judge tasks with RAG integration and detailed subtasks
  .github/copilot-instructions.md
Labels: documentation, config

docs: Integrate Mermaid dynamic visualization framework
  .github/copilot-instructions.md
Labels: documentation, config

docs: Integrate monorepo CI/CD optimization for Phase 9 deployment
  .github/copilot-instructions.md
Labels: documentation, config

docs: Add concise CI/CD quick reference and additional citations
  .github/copilot-instructions.md
Labels: documentation, config

docs: Expand fks_ninja with Bitcoin-first prop firm integration
  .github/copilot-instructions.md
Labels: documentation, config

docs: Add socket implementation and web UI to fks_ninja
  .github/copilot-instructions.md
Labels: documentation, config

feat(ninja): Add comprehensive web interface for NT8 package management
  .github/copilot-instructions.md
Labels: documentation, config

first commit
  README.md
Labels: documentation

.github/labeler.yml:

# GitHub Actions Labeler Configuration for FKS Trading Platform
# Automatically applies labels to PRs based on changed files

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file: 
          - 'docs/**/*'
          - 'README.md'
          - 'QUICKREF.md'
          - '**/*.md'
          - '.github/copilot-instructions.md'

# Core application code
code:
  - changed-files:
      - any-glob-to-any-file: 'src/**/*.py'
      - all-globs-to-all-files: '!src/tests/**'

# Framework layer (critical - requires extra review)
framework:
  - changed-files:
      - any-glob-to-any-file: 'src/framework/**/*.py'

# Security-sensitive files
security:
  - changed-files:
      - any-glob-to-any-file:
          - 'requirements*.txt'
          - '.env*'
          - 'docker-compose*.yml'
          - 'nginx/**/*'
          - 'src/authentication/**/*.py'
          - '**/settings.py'
          - 'secrets/**/*'
          - '.github/workflows/**'

# Test files
tests:
  - changed-files:
      - any-glob-to-any-file: 
          - 'tests/**/*.py'
          - 'pytest.ini'
          - 'src/tests/**/*.py'

# Database and migrations
database:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/core/database/**/*.py'
          - '**/migrations/**/*.py'
          - 'sql/**/*'
          - 'scripts/setup_database.sh'

# Trading logic
trading:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/trading/**/*.py'
          - 'src/core/models.py'

# RAG system
rag:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/rag/**/*.py'
          - 'docker-compose.gpu.yml'
          - 'requirements.gpu.txt'
          - 'scripts/setup_rag.sh'

# ML/AI components
ml:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/ml/**/*.py'
          - 'notebooks/**/*.ipynb'
          - 'scripts/setup_ml.sh'

# Web UI (Django templates, static files)
web:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/web/**/*'
          - 'src/web/templates/**/*'
          - 'src/web/static/**/*'
          - 'src/api/**/*.py'

# Docker and infrastructure
docker:
  - changed-files:
      - any-glob-to-any-file:
          - 'docker/**/*'
          - 'Dockerfile*'
          - 'docker-compose*.yml'
          - '.dockerignore'

# Configuration files
config:
  - changed-files:
      - any-glob-to-any-file:
          - '*.toml'
          - '*.yaml'
          - '*.yml'
          - '*.ini'
          - '*.cfg'
          - '.github/**/*'
          - 'Makefile'

# Scripts and automation
scripts:
  - changed-files:
      - any-glob-to-any-file:
          - 'scripts/**/*'
          - '*.sh'

# Monitoring and observability
monitoring:
  - changed-files:
      - any-glob-to-any-file:
          - 'monitoring/**/*'
          - 'src/framework/monitoring/**/*.py'

# Celery tasks
celery:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/trading/tasks.py'
          - 'src/web/django/celery.py'
          - 'scripts/start_celery.sh'
          - 'scripts/stop_celery.sh'

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file:
          - 'requirements*.txt'
          - 'pyproject.toml'
          - 'setup.py'

# WIP (Work in Progress) - for draft PRs
wip:
  - changed-files:
      - any-glob-to-any-file: '**/*WIP*'
  - draft: true

# Breaking changes (requires major review)
breaking:
  - changed-files:
      - any-glob-to-any-file:
          - 'src/framework/**/*.py'
          - 'src/core/database/models.py'
          - '**/settings.py'
